<div ng-controller="SolicitudInsumoController as SolicitudInsumoCtrl">
    
    <fieldset>
        <legend>Consultar Solicitud de Insumo</legend>
    </fieldset>

    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">Criterios de Búsqueda</div>
                <div class="panel-body">
                    <form method="post" role="search" novalidate>
                        <div class="form-group">
                            <label class="control-label">Nro de Solicitud</label>
                            <input type="number" class="form-control" required ng-model="consultar.solicitudInsumoId" />
                            <!--<span class="help-block error">Ingrese el Nro de solicitud.</span>-->
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" ng-click="consultar.buscarPorId(consultar.solicitudInsumoId)"><i class="fa fa-search"></i> Consultar por Nro Solicitud</button>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label">Fecha Inicial</label>
                            <input type="date" class="form-control" required ng-model="consultar.fechaInicial" />
                            <!--<span class="help-block error">Seleccione la fecha inicial.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fecha Final</label>
                            <input type="date" class="form-control" required ng-model="consultar.fechaFinal" />
                            <!--<span class="help-block error">Seleccione la fecha inicial.</span>-->
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" ng-click="consultar.buscarPorRangoFechas(consultar.fechaInicial, consultar.fechaFinal)"><i class="fa fa-search"></i> Consultar por Fechas</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">Listado de Solicitudes de Insumos</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha de Ingreso</th>
                                <th>Nro. de Solicitud</th>
                                <th>Nro. de Solicitud Cocina</th>
                                <th>Unidad de Transporte</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="solicitudInsumo in consultar.listadoSolicitudesInsumo" ng-class="{ danger: solicitudInsumo.estado == 0 }">
                                <td>{{ solicitudInsumo.fechaSolicitud | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ solicitudInsumo.id }}</td>
                                <td>{{ solicitudInsumo.solicitudCocina.id }}</td>
                                <td>{{ solicitudInsumo.solicitudCocina.programacionRuta.vehiculo.placa }}</td>
                                <td ng-switch on="solicitudInsumo.estado">
                                    <span ng-switch-when="0">Anulado</span>
                                    <span ng-switch-when="1">Registrado</span>
                                    <span ng-switch-default>{{ solicitudInsumo.estado }}</span>
                                </td>
                                <td>
                                    <a href="#/SolicitudInsumo/Anular/{{ solicitudInsumo.id }}" class="btn btn-danger btn-xs" ng-if="solicitudInsumo.estado == 1"><i class="fa fa-close"></i> Anular Solicitud</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




</div>