<div ng-controller="SolicitudInsumoController">

<fieldset>
    <legend>Registrar Solicitud de Insumo</legend>
</fieldset>

<div class="row">
    <div class="panel panel-info">
        <div class="panel panel-heading">Solicitud Cocina</div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label">Nro. Solicitud Cocina</label>
                    <div class="control-group">
                        <input type="number" class="form-control" disabled value="{{ registrar.solicitudInsumo.solicitudCocina.id }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="aa">Fecha de Ingreso</label>
                    <div class="control-group">
                        <input type="text" name="aa" class="form-control" disabled value="{{ registrar.solicitudInsumo.solicitudCocina.fechaSolicitud | date: 'dd/MM/yyyy' }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Vehículo</label>
                    <div class="control-group">
                        <input type="text" class="form-control" disabled value="{{ registrar.solicitudInsumo.solicitudCocina.programacionRuta.vehiculo.placa }}" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-body">
            <fieldset>
                <legend>Consultar Solicitud de Cocina</legend>
            </fieldset>
                
            <div class="col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">Criterios de Búsqueda</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Fecha Inicial</label>
                            <input type="date" class="form-control" ng-model="registrar.fechaInicial" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fecha Final</label>
                            <input type="date" class="form-control" ng-model="registrar.fechaFinal" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-disabled="registrar.registrado" ng-click="registrar.buscarSolicitudCocina(registrar.fechaInicial, registrar.fechaFinal)"><i class="fa fa-search"></i> Consultar</button>
                            <button class="btn btn-danger" ng-disabled="registrar.registrado" ng-click="registrar.cancelarBusquedaSolicitudCocina()"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="panel panel-success">
                    <div class="panel-heading">Listado de Solicitudes de Cocina</div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Nro. Solicitud Cocina</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Vehículo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="solicitudCocina in registrar.listadoSolicitudCocina">
                                    <td>{{ solicitudCocina.id }}</td>
                                    <td>{{ solicitudCocina.fechaSolicitud | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ programacionRuta.vehiculo.placa }}</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" ng-disabled="registrar.registrado" ng-click="registrar.seleccionarSolicitudCocina(solicitudCocina)"><i class="fa fa-check"></i> Seleccionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-info">
        <div class="panel panel-heading">
            <h4 class="panel-title">Relación de Insumos</h4>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>Insumo</th>
                            <th>Tipo Unidad</th>
                            <th>Cantidad</th>
                                    
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="insumo in registrar.listadoInsumos" ng-class="{success: registrar.insumosSeleccinados[$index] == 1  }">
                            <td>
                                <input type="checkbox" name="name" value="1" ng-model="registrar.insumosSeleccinados[$index]" />
                            </td>
                            <td>{{ insumo.descripcion }}</td>
                            <td>{{ insumo.tipoUnidad }}</td>
                            <td>
                                <div class="col-lg-4">
                                    <input type="number" class="form-control" ng-model="refrigerio.cantidad" ng-disabled="!registrar.insumosSeleccinados[$index]" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="registrar.registrado">
        <alert type="success">
            Se registró correctamente la Solicitud de Insumo.
        </alert>
        <a href="#/SolicitudInsumo/Consultar" class="btn btn-primary"><i class="fa fa-undo"></i> Regresar a Consultar Solicitud Insumo</a>
    </div>

    <div class="form-group" ng-show="!registrar.registrado">
        <a class="btn btn-success" ng-click="registrar.registrarSolicitud(registrar.solicitudInsumo)"><i class="fa fa-check"></i> Registrar</a>
        <a href="#/SolicitudInsumo/Consultar" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
    </div>
</div>
    