<div ng-controller="SolicitudCocinaController">

<fieldset>
    <legend>Registrar Solicitud de Cocina</legend>
</fieldset>

<div class="row">
    <div class="panel panel-info">
        <div class="panel panel-heading">Ruta Programada</div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label">Nro. Programación Ruta</label>
                    <div class="control-group">
                        <input type="number" class="form-control" disabled value="{{ registrar.solicitudCocina.programacionRuta.id }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="aa">Fecha Origen</label>
                    <div class="control-group">
                        <input type="text" name="aa" class="form-control" disabled value="{{ registrar.solicitudCocina.programacionRuta.fechaOrigen | date: 'dd/MM/yyyy' }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha Destino</label>
                    <div class="control-group">
                        <input type="text" class="form-control" disabled value="{{ registrar.solicitudCocina.programacionRuta.fechaDestino | date: 'dd/MM/yyyy' }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Vehículo</label>
                    <div class="control-group">
                        <input type="text" class="form-control" disabled value="{{ registrar.solicitudCocina.programacionRuta.vehiculo.placa }}" />
                    </div>
                </div>
            </div>
        </div>

        
        <div class="panel-body">
            <fieldset>
                <legend>Consultar Programación Ruta</legend>
            </fieldset>
                
            <div class="col-md-3 col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">Criterios de Búsqueda</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Fecha Inicial de Origen</label>
                            <input type="date" class="form-control" ng-model="registrar.fechaInicialOrigen" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fecha Final de Origen</label>
                            <input type="date" class="form-control" ng-model="registrar.fechaFinalOrigen" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-disabled="registrar.registrado" ng-click="registrar.buscarProgramacionRuta(registrar.fechaInicialOrigen, registrar.fechaFinalOrigen)"><i class="fa fa-search"></i> Consultar</button>
                            <button class="btn btn-danger" ng-disabled="registrar.registrado" ng-click="registrar.cancelarBusquedaProgramacionRuta()"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-9">
                <div class="panel panel-success">
                    <div class="panel-heading">Listado de Programación de Ruta</div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Nro. Programación Ruta</th>
                                    <th>Fecha Origen</th>
                                    <th>Fecha Destino</th>
                                    <th>Vehículo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="programacionRuta in registrar.listadoProgramacionRuta">
                                    <td>{{ programacionRuta.id }}</td>
                                    <td>{{ programacionRuta.fechaOrigen | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ programacionRuta.fechaDestino | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ programacionRuta.vehiculo.placa }}</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" ng-disabled="registrar.registrado" ng-click="registrar.seleccionarProgramacionRuta(programacionRuta)"><i class="fa fa-check"></i> Seleccionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-info">
        <div class="panel panel-heading">
            <h4 class="panel-title">Relación de Refrigerios</h4>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>Refrigerio</th>
                            <th>Tipo Unidad</th>
                            <th>Cantidad</th>
                                    
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="refrigerio in registrar.listadoRefrigerios" ng-class="{success: registrar.refrigerioSeleccionado[$index] == 1}">
                            <td>
                                <input type="checkbox" name="name" value="1" ng-model="registrar.refrigerioSeleccionado[$index]" />
                            </td>
                            <td>{{ refrigerio.descripcion }}</td>
                            <td>{{ refrigerio.tipoUnidad }}</td>
                            <td>
                                <div class="col-lg-4">
                                    <input type="number" class="form-control" value="" ng-model="refrigerio.cantidad" ng-disabled="!registrar.refrigerioSeleccionado[$index]" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="registrar.registrado">
        <alert type="success">
            Se registró correctamente la Solicitud de Cocina.
        </alert>
        <a href="#/SolicitudCocina/Consultar" class="btn btn-primary"><i class="fa fa-undo"></i> Regresar a Consultar Solicitud Cocina</a>
    </div>

    <div class="form-group" ng-show="!registrar.registrado">
        <a class="btn btn-success" ng-click="registrar.registrarSolicitud(registrar.solicitudCocina)"><i class="fa fa-check"></i> Registrar</a>
        <a href="#/SolicitudCocina/Consultar" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
    </div>
</div>
    