<?xml version="1.0" encoding="UTF-8"?>
<configuracion>
<grupo nombre='SEGU.Entities'>
<entidades>
<entidad nombre='BEConductor'/>
<entidad nombre='BEMarcaVehiculo'/>
<entidad nombre='BEModelo'/>
<entidad nombre='BEProgramacionRuta'/>
<entidad nombre='BERuta'/>
<entidad nombre='BETipoIncidencia'/>
<entidad nombre='BETipoServicio'/>
<entidad nombre='BEUnidadTransporte'/>
<entidad nombre='BEBitacora'/>
<entidad nombre='BEDetalleBitacora'/>

</entidades>
<relaciones>
<relacion destino='BEUnidadTransporte.IdModelo' origen='BEModelo.IdModelo'/>
<relacion destino='BEModelo.IdModelo' origen='BEMarcaVehiculo.IdMarca'/>
	
<relacion destino='BEProgramacionRuta.IdTipoServicio' origen='BETipoServicio.IdTipoServicio'/>
<relacion destino='BEProgramacionRuta.IdConductor' origen='BEConductor.IdConductor'/>
<relacion destino='BEProgramacionRuta.IdRuta' origen='BERuta.IdRuta'/>
<relacion destino='BEProgramacionRuta.IdVehiculo' origen='BEUnidadTransporte.IdVehiculo'/>


<relacion destino='BEBitactora.IdProgramacionRuta' origen='BEProgramacionRuta.IdProgramacionRuta'/>

<relacion destino='BEDetalleBitacora.IdTipoIncidencia' origen='BETipoIncidencia.IdTipoIncidencia'/>
<relacion destino='BEDetalleBitacora.IdBitacora' origen='BEBitacora.IdBitacora'/>
	
</relaciones>
</grupo>
</configuracion>