@model IQueryable<UPC.CruzDelSur.Negocio.Modelo.Personal.Persona>
@{
    ViewBag.Title = "Personas";
}

<h3>Personas <small>(@Model.Count())</small></h3>

<table class="table table-hover">
    <tr>
        <th>Nombre</th>
    </tr>
    
    @foreach (var persona in Model)
    {
        <tr>
            <td>@Html.ActionLink(persona.Nombre, "Details", new {persona.Id})</td>
        </tr>
    }
</table>