<div ng-controller="GuiaSalidaInsumoController">
    <div class="row">
        <div class="col-md-5 col-lg-5">
            <fieldset>
                <legend>¿Está seguro de anular la Guía de Salida de Insumos Nro: {{ anular.guiaSalidaInsumo.id }}?</legend>
            </fieldset>

            <div class="panel panel-danger">
                <div class="panel-heading">Guía de Salida de Insumos</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Nro. Guía</label>
                        <input type="number" class="form-control" disabled value="{{ anular.guiaSalidaInsumo.id }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nro. Solicitud de Insumo</label>
                        <input type="number" class="form-control" disabled value="{{ anular.guiaSalidaInsumo.solicitudInsumo.id }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha Solicitud</label>
                        <input type="datetime" class="form-control" disabled value="{{ anular.guiaSalidaInsumo.fechaGuia | date: 'dd/MM/yyyy' }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Unidad Transporte</label>
                        <input type="text" class="form-control" disabled value="{{ anular.guiaSalidaInsumo.solicitudInsumo.solicitudCocina.programacionRuta.vehiculo.placa }}">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-danger" ng-click="anular.anularGuiaSalidaInsumo(anular.guiaSalidaInsumo)"><i class="fa fa-close"></i> Anular GuiaSalida</a>
                        <a class="btn btn-success" href="#/GuiaSalidaInsumo/Consultar"><i class="fa fa-undo"></i> Regresar a Consultar Guia Salida Insumos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>