<div ng-controller="SolicitudCocinaController">

    <div class="panel panel-info    ">
        <div class="panel panel-heading">
            <h4 class="panel-title">Ruta Programada</h4>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel panel-heading">
            <h4 class="panel-title">Relación de Refrigerios</h4>
        </div>
        <div class="panel-body">

            <button class="btn btn-primary"><i class="fa fa-search"></i> Buscar Refrigerios</button>

            <div class="panel-body">
                <div>
                    
                </div>


            </div>

            <div class="panel-body">
                
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Nro. Item</th>
                            <th>Refrigerio</th>
                            <th>Tipo Unidad</th>
                            <th>Cantidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bola de Papitas</td>
                            <td>Bolsa</td>
                            <td>10</td>
                            <th>
                                <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-close"></i> Remover item</button>
                            </th>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Arroz con Pato</td>
                            <td>Unidad</td>
                            <td>2</td>
                            <th>
                                <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-close"></i> Remover item</button>
                            </th>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sopa de Pollo</td>
                            <td>Unidad</td>
                            <td>5</td>
                            <th>
                                <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-close"></i> Remover item</button>
                            </th>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Seco de Carne</td>
                            <td>Unidad</td>
                            <td>5</td>
                            <th>
                                <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-close"></i> Remover item</button>
                            </th>
                        </tr>
                         <tr>
                            <td>5</td>
                            <td>Tallarines Rojos</td>
                            <td>Unidad</td>
                            <td>2</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-close"></i> Remover item</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    
    <div>
        <a class="btn btn-success"><i class="fa fa-check"></i> Registrar</a>
        <a href="#" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
    </div>
</div>