<div class="row">
    <div class="col-xs-6 col-sm-6">
        @using (Html.BeginRouteForm("Solicitud_Cocina", new { action = "Seach" }, FormMethod.Post, new { role = "search", @class = "form-inline" }))
{
    <div class="form-group">
        <input type="text" class="form-control" id="solicitud-insumo-id" placeholder="Nro. Solicitud Insumo" />
    </div>
    
    <div class="form-group">
        <label>Rango de Fechas</label>
        <input type="text" class="form-control" id="solicitud-insumo-desde" placeholder="Nro. Solicitud Insumo" />
        <input type="text" class="form-control" id="solicitud-insumo-hasta" placeholder="Nro. Solicitud Insumo" />
    </div>
    
    
    
    <div class="form-group">
        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
        <button type="button" class="btn btn-danger"><i class="fa fa-cancel"></i> Cancelar</button>
    </div>
    
}

    </div>
</div>
