<section id="solicitudes-contratacion-view" class="mainbar" data-ng-controller="solicitudescontratacion as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="btn-group">
                    <a class="btn btn-info"
                       data-ng-click="vm.refresh()">
                        <i class="fa fa-refresh"></i>
                        <span>Refrescar</span>
                    </a>
                    <a class="btn btn-info"
                       href="#/solicitud/contratacion/nuevo">
                        <i class="fa fa-plus"></i>
                        <span>Nueva Solicitud de Personal</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="widget wmustard">
                    <div data-cc-widget-header
                         title="{{vm.title}}"
                         subtitle="{{vm.solicitudesContratacion.length}}"></div>
                    <div class="widget-content user">
                        <tabset>
                            <tab>
                                <tab-heading>
                                    <i class="fa fa-file"></i> Activas ({{vm.solicitudesCapacitacion.length}})
                                </tab-heading>
                                <div class="padd"
                                     data-ng-repeat="s in vm.solicitudesCapacitacion"
                                     data-ng-click="vm.goToSolicitudCapacitacion(s)">
                                    <div class="user" title="Ver detalles">
                                        <div class="user-pic">
                                            <i class="fa fa-check-circle fa-5x pull-right" data-ng-show="s.estado == 'Aprobado'"></i>
                                            <i class="fa fa-times-circle fa-5x pull-right" data-ng-show="s.estado == 'Rechazado'"></i>
                                            <i class="fa fa-circle-o fa-5x pull-right" data-ng-show="s.estado == 'Pendiente'"></i>
                                        </div>
                                        <div class="user-details">
                                            <small class="right">
                                                Planificado para: {{s.fechaPlanificada | date:'yyyy/MM/dd'}}
                                            </small>
                                            <small class="right">
                                                Registrado: {{s.fechaRegistro | date:'yyyy/MM/dd'}}
                                            </small>
                                            <small class="right"
                                                   data-ng-show="s.estado != 'Pendiente'">
                                                {{s.estado}}: {{s.fechaResolucion | date:'yyyy/MM/dd'}}
                                            </small>
                                            <h6>{{s.estado}}</h6>
                                            <h3>Capacitacion: {{s.capacitacion.nombre}}</h3>
                                            <h5>{{s.trabajador.nombreCompleto}}</h5>
                                            <h6>{{s.trabajador.cargo.nombre}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab>
                                <tab-heading>
                                    <i class="fa fa-archive"></i> Archivadas ({{vm.solicitudesCapacitacionArchivadas.length}})
                                </tab-heading>
                                <div data-ng-repeat="s in vm.solicitudesCapacitacionArchivadas">
                                    <div class="user">
                                        <div class="user-pic">
                                            <i class="fa fa-check-circle fa-5x pull-right" data-ng-show="s.estado == 'Aprobado'"></i>
                                            <i class="fa fa-times-circle fa-5x pull-right" data-ng-show="s.estado == 'Rechazado'"></i>
                                            <i class="fa fa-circle-o fa-5x pull-right" data-ng-show="s.estado == 'Pendiente'"></i>
                                        </div>
                                        <div class="user-details">
                                            <small class="right">
                                                Planificado para: {{s.fechaPlanificada | date:'yyyy/MM/dd'}}
                                            </small>
                                            <small class="right">
                                                Registrado: {{s.fechaRegistro | date:'yyyy/MM/dd'}}
                                            </small>
                                            <small class="right"
                                                   data-ng-show="s.estado != 'Pendiente'">
                                                {{s.estado}}: {{s.fechaResolucion | date:'yyyy/MM/dd'}}
                                            </small>
                                            <h6>{{s.estado}}</h6>
                                            <h3>Capacitacion: {{s.especialidad}}</h3>
                                            <h5>{{s.tecnico.persona.nombreCompleto}}</h5>
                                            <h6>Especialidad actual: {{s.tecnico.especialidad}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
