<section id="tecnicos-view" class="mainbar" data-ng-controller="solicitudescapacitacion as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="page-header">
                <h1>
                    {{vm.title}}
                    <small>({{vm.solicitudesCapacitacion.length}})</small>
                </h1>
            </div>
            <div class="row">
                <div class="btn-group">
                    <a class="btn btn-default"
                       href="#/solicitud/capacitacion/nuevo">
                        <i class="fa fa-plus"></i>
                        <span>Nueva Solicitud de Capacitación</span>
                    </a>
                    <a class="btn btn-default"
                       data-ng-click="vm.refresh()">
                        <i class="fa fa-refresh"></i>
                        <span>Refrescar</span>
                    </a>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <!--<tabset>
                    <tab>
                        <tab-heading>
                            <i class="fa fa-file"></i> Activas
                            <span class="badge">{{vm.solicitudesCapacitacion.length}}</span>
                        </tab-heading>
                        &nbsp;-->
                        <div class="list-group">
                            <a href=""
                               class="list-group-item"
                               title="Ver detalles"
                               data-ng-repeat="s in vm.solicitudesCapacitacion"
                               data-ng-click="vm.goToSolicitudCapacitacion(s)">
                                <div class="row">
                                    <div class="col-xs-6 col-md-1">
                                        <i class="fa fa-check-circle fa-5x" data-ng-show="s.estado == 'Aprobado'"></i>
                                        <i class="fa fa-times-circle fa-5x" data-ng-show="s.estado == 'Rechazado'"></i>
                                        <i class="fa fa-circle-o fa-5x" data-ng-show="s.estado == 'Pendiente'"></i>
                                    </div>
                                    <div class="col-xs-12 col-md-11">
                                        <span class="pull-right">
                                            <p class="list-group-item-text">
                                                <strong>Registrado:</strong> {{s.fechaRegistro | date:'yyyy/MM/dd'}}
                                            </p>
                                            <p class="list-group-item-text">
                                                <strong>Planificado para:</strong> {{s.fechaPlanificada | date:'yyyy/MM/dd'}}
                                            </p>
                                            <p class="list-group-item-text"
                                               data-ng-show="s.estado != 'Pendiente'">
                                                <strong>{{s.estado}}:</strong> {{s.fechaResolucion | date:'yyyy/MM/dd'}}
                                            </p>
                                        </span>
                                        <p class="list-group-item-text">{{s.estado}}</p>
                                        <h3 class="list-group-item-heading">{{s.capacitacion.nombre}}</h3>
                                        <h4 class="list-group-item-text">{{s.trabajador.nombreCompleto}}</h4>
                                        <p class="list-group-item-text">{{s.trabajador.cargo.nombre}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <!--</tab>
                    <tab>
                        <tab-heading>
                            <i class="fa fa-archive"></i> Archivadas
                            <span class="badge">{{vm.solicitudesCapacitacionArchivadas.length}}</span>
                        </tab-heading>
                        &nbsp;
                        <div class="list-group">
                            <a href=""
                               class="list-group-item"
                               title="Ver detalles"
                               data-ng-repeat="s in vm.solicitudesCapacitacionArchivadas"
                               data-ng-click="vm.goToSolicitudCapacitacion(s)">
                                <div class="row">
                                    <div class="col-xs-6 col-md-1">
                                        <i class="fa fa-check-circle fa-5x pull-right" data-ng-show="s.estado == 'Aprobado'"></i>
                                        <i class="fa fa-times-circle fa-5x pull-right" data-ng-show="s.estado == 'Rechazado'"></i>
                                        <i class="fa fa-circle-o fa-5x pull-right" data-ng-show="s.estado == 'Pendiente'"></i>
                                    </div>
                                    <div class="col-xs-12 col-md-11">
                                        <small class="pull-right">
                                            Planificado para: {{s.fechaPlanificada | date:'yyyy/MM/dd'}}
                                        </small>
                                        <small class="pull-right">
                                            Registrado: {{s.fechaRegistro | date:'yyyy/MM/dd'}}
                                        </small>
                                        <small class="pull-right"
                                               data-ng-show="s.estado != 'Pendiente'">
                                            {{s.estado}}: {{s.fechaResolucion | date:'yyyy/MM/dd'}}
                                        </small>
                                        <h6>{{s.estado}}</h6>
                                        <h3>Capacitacion: {{s.capacitacion.nombre}}</h3>
                                        <h5>{{s.trabajador.nombreCompleto}}</h5>
                                        <h6>{{s.trabajador.cargo.nombre}}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </tab>
                </tabset>-->
            </div>
        </div>
    </section>
</section>
